$blue:                     #00A8EA;
$dark-blue:     darken($blue, 17%);

$green:                    #25b393;
$dark-green:   darken($green, 17%);

$purple:                   #6D2077;
$dark-purple: darken($purple, 17%);

$red:                      #d64627;
$dark-red:       darken($red, 17%);

$orange:                   #E57200;
$dark-orange: darken($orange, 17%);

$yellow:                   #deaf2f;
$dark-yellow: darken(#deaf2f, 17%);

$lighter-grey:             #F7F7F7;
$light-grey:               #D8D8D8;
$medium-grey:              #9B9B9B;
$dark-grey:                #4A4A4A;
$darker-grey:              #1b1b1b;

$grey:                $medium-grey;

$action-color:               $blue;
$accent-color:             $orange;
$brand-color:                $blue;
