.FeaturedProducts__root {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 64rem;
  margin: 1rem 0;
}

.FeaturedProducts__list {
  transition: width 150ms;
  justify-content: space-between;
  width: calc(300vw - 50%);
  align-items: stretch;
  flex-direction: row;
  list-style: none;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  display: flex;

  @media (min-width: 24rem) {
    width: calc(250vw - 40%);
  }
  @media (min-width: 32rem) {
    width: calc(200vw - 30%);
  }
  @media (min-width: 46rem) {
    width: 100%;
    padding: 0;
  }
}

.FeaturedProducts__product {
  transition:  background-color 300ms, border-color 100ms;
  border: 1px $light-grey solid;
  text-align: center;
  margin-right: 1rem;
  min-width: 0;
  flex: 1 1;

  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: rgba($brand-color, 0.1);
    border-color: rgba($brand-color, 0.6);

    .FeaturedProducts__heading,
    .FeaturedProducts__lender-logo,
    .FeaturedProducts__rates,
    .FeaturedProducts__rate {
      border-color: rgba($brand-color, 0.6);
    }
    .FeaturedProducts__heading {
      color: $brand-color;
    }
  }
  @media (min-width: 46rem) {
    &:nth-child(2) {
      order: -1;
    }
  }
}

.FeaturedProducts__heading {
  font-family: 'Geomanist-Regular', sans-serif;
  border-bottom: 1px $light-grey solid;
  transition: border-color 100ms;
  color: rgba($accent-color, 1);
  padding: 0.75em 0.5em;
  display: block;
  margin: 0;
}

.FeaturedProducts__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.FeatureProducts__content {
  padding: 12% 0 10%;
}

.FeaturedProducts__repayment {
  margin-bottom: 1.5em;

}

.FeaturedProducts__repayment-amount {
  font-family: 'Geomanist-Regular', sans-serif;
  font-size: 300%;

  .\$ {
    font-family: 'Geomanist-Book', sans-serif;
    vertical-align: middle;
    position: relative;
    top: -0.0625em;
    font-size: 60%;
  }
}

.FeaturedProducts__repayment-term {
  color: rgba(black, 0.6);
}

.FeaturedProducts__lender-logo {
  transition:  border-color 100ms;
  border: 1px $light-grey solid;
  border-radius: 0.125em;
  position: relative;
  background: white;
  margin: 0.5em auto;
  max-width: 60%;
  display: block;
}

.FeaturedProducts__product-name {
  text-overflow: ellipsis;
  font-weight: inherit;
  white-space: nowrap;
  color: $brand-color;
  font-size: inherit;
  overflow: hidden;
  margin-top: 1em;
  padding: 0 1em;
}

.FeaturedProducts__rates {
  transition: border-color 100ms;
  border-top: 1px $light-grey solid;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.FeaturedProducts__rate {
  transition: border-color 100ms;
  border-right: 1px $light-grey solid;
  padding: 1em 0.25em;
  flex: 1 1;

  &:last-of-type {
    border-right: none;
  }
}

.FeaturedProducts__rate-percentage {
  font-family: 'Geomanist-Book', sans-serif;
  font-size: 150%;
}

.FeaturedProducts__label-fallback {
  display: none;
}

.FeaturedProducts__rate-label {
  text-transform: uppercase;
  color: rgba(black, 0.6);
  font-size: 70%;

  &::before {
    content: "P.A. ";
  }
}
