@import "base/base";
@import "components/**/*";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'SourceSansPro-Light', '-apple-system-body', sans-serif;
  color: rgba(black, 0.65);
  font-weight: normal;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Geomanist-Regular', '-apple-system-headline', sans-serif;
  font-weight: normal;
}

.container {
  max-width: 46rem;
  margin: 0 auto;
}
